body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

.menu {
  background-color: rgb(0, 7, 7);
  color: azure;
  list-style: none;
}

.total-confirmados {
  background-color: #00ffff;
}

.total-mortes {
  background-color: #00ffff;
}

.total-recuperados {
  background-color: #00ffff;
}
